* {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

html {
    background-image: url('../immagini/sfondo.jpg');
    width: 100%;
    background-color: #FFFFFF;
    background-repeat: repeat;
    background-size: 20em;
}

body {
    max-width: 1024px;
    margin: auto;
    font-size: 100%;
    background-color: #FFF;
    font-family: "Verdana", sans-serif;
    border: 1px solid #DDD;
}

a:link {
    color: #000;
}

a:visted {
    color: #FFFC41;
}

.aiutiNascosti {
    position: absolute;
    height: 0em;
    overflow: hidden;
    list-style-type: none;
}

/*
---------------
SEZIONE HEADER
---------------
*/

#header {
    padding: 1.0em;
    text-align: center;
    min-height: 9em;
    padding-top: 0em;
}

#header h1 {
    color: #000000;
    font-size: 3em;
    margin: auto;
    margin-left: 20%;
    padding-top: 0.5em;
    text-align: center;
}

#header h2 {
    font-size: 1.3em;
    font-style: italic;
    font-weight: normal;
    margin-left: 15%;
    text-align: center;
}

#logo{
    float: left;
    width: 10%;
    max-width: 9em;
    margin: 0.5em;
    margin-left: 2em;
}

/*
-------------------
SEZIONE MENU
-------------------
*/

#menu {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F29BA2;
  font-weight: bold;
}

#menu li {
  list-style-type: none;
  color: #001E57;
  text-align: center;
  padding: 1em 1em;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  
}

#menu li a:hover {
  background-color: #A3D9D9;
}

#currentlink {
  background-color: #A3D9D9;
}

#breadcrumb{
    background-color: #F29BA2;
    color: #000000;
    padding: 0.5em 0em 0.5em 1.0em;
    font-weight: bold;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    text-align: left;
}

/*
------------------
SEZIONE CONTENUTO
------------------
*/

.contenutoGenerale {
    width: 80%;
    font-size: 1em;
    text-align: left;
}

.elementoBlocco {
    display: block;
}

/*
------------------
CHI SIAMO
------------------
*/

#contentChiSiamo{
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #DDD;
    font-size: 1.2em;
    text-align: center;
}

.p1, .p3 {
    text-align: left;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}

.p2{
    text-align: right;
    margin-top: 1.0em;
    margin-bottom: 1em;
}

#ChiSiamo {
    width: 100%;
}

#ChiSiamo dt {
    font-weight: bold;
    color: #DD6B05;
    padding: 0.9em;
    margin-top: 0.5em;
    text-align: left;
    font-size: 1.5em;
    clear: left;
}

#ChiSiamo dd {
    border-top: none;
    padding: 0.5em;
    min-height: 12em;
}

#ChiSiamo dd img {
    float: left;
    width: 30%;
    margin-right: 1.0em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    overflow: hidden;
    clear: both;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#contentChiSiamo dd p {
    margin-left: 35%;
    text-align: justify;
    color: black;
    background-color: white;
    padding: 2em;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border-style: ridge;
    border-color: orange;
}


/*
------------------
IL GATTILE
------------------
*/

#contentIlGattile{
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #DDD;
    font-size: 1em;
    text-align: left;
}

#contentIlGattile h1 {
    color: #8F000C;
    font-size: 2em;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

#bannerGattile {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

#contentIlGattile p {
    clear: left;
    text-align: justify;
    font-size: 1.2em;
}

#contentIlGattile h2 {
    color: #8F000C;
    font-size: 2em;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

/*
---------------
SEZIONE COME AIUTARCI
---------------
*/

#contentComeAiutarci{
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #DDD;
    font-size: 1.2em;
    text-align: justify;
}

#contentComeAiutarci h1{
    text-align: center;
    font-size: 1.3em;
    color: #DD6B05;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#contentComeAiutarci h2{
    text-align: center;
    font-size: 1em;
    color: #DD6B05;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#contentComeAiutarci h3{
    text-align: left;
    font-size: 1em;
    color: #DD6B05;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#contentComeAiutarci p {
    text-align: center;
    font-size: 1em;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#ComeAiutarci {
    width: 100%;
}

#ComeAiutarci dt {
    font-weight: bold;
    color: #DD6B05;
    margin-top: 0.5em;
    text-align: left;
    font-size: 1em;
}

#ComeAiutarci dd {
    border-top: none;
    padding: 0.5em;
}


#ComeAiutarci dd p {
    text-align: justify;
}

.button {
  background-color: #F29BA2;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: block;
  font-size: 2em;
  width: 50%;
  cursor: pointer;
  display: inline-block;

}

.button:hover {
  background-color: #A3D9D9;
  color: white;
}

/*
------------------
SEZIONE FOOTER
------------------
*/

#footer{
    text-align: center;
    font-style: italic;
    font-size: 1em;
    padding: 0.5em;
    padding-top: 1.3em;
    border-top: 1px solid #ddd;
}

#imgValidCode{
    float: left;
}

#imgValidCSS{
    float: right;
}
